# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# Unity 3D generated
Assets/AssetStoreTools*

# Visual Studio / Rider / VSCode
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.userprefs
*.unityproj

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt
crashlytics-build.properties
